In [35]:
import xlrd
import os
import pandas as pd

In [11]:
book = xlrd.open_workbook("test.xlsx")

In [23]:
Man = book.sheet_by_index(1)

In [36]:
# Man.row_values(0)

In [37]:
# Man.col_values(0)

In [38]:
# print(Man.row_slice(rowx=10, start_colx=0, end_colx=14))

In [45]:
df = pd.read_excel("test.xlsx", sheet_name=1)

In [48]:
df.head(2)

,Boutique Name,Neighborhood (Based on City),Address,street,city,state,zipcode,latitude,longitude,Website,Email,Phone #,Emailed,Called
0,Janie and Jack,NaN,"1150 3rd Ave, New York, NY 10065",1150 3rd Ave,New York,NY,10065,40.766846,-73.963101,www.janieandjack.com,NaN,NaN,NaN,NaN
1,House of Angels New York Inc,NaN,"307 W 125th St, New York, NY 10027",307 W 125th St,New York,NY,10027,40.810792,-73.951507,NaN,angelsnyus@aol.com,212-222-7330,NaN,COB (Left Info for Upper management callback) ...

In [49]:
test = df[['Boutique Name','Address','city','zipcode', 'latitude', 'longitude']]

In [50]:
test.head(2)

,Boutique Name,Address,city,zipcode,latitude,longitude
0,Janie and Jack,"1150 3rd Ave, New York, NY 10065",New York,10065,40.766846,-73.963101
1,House of Angels New York Inc,"307 W 125th St, New York, NY 10027",New York,10027,40.810792,-73.951507

In [51]:
import numpy as np
dataset = np.array(test)

In [52]:
dataset[:2]

array([['Janie and Jack', '1150 3rd Ave, New York, NY 10065', 'New York',
        10065, 40.7668462, -73.96310129999999],
       ['House of Angels New York Inc',
        '307 W 125th St, New York, NY 10027', 'New York', 10027,
        40.8107922, -73.9515074]], dtype=object)

In [53]:
from pymongo import MongoClient

In [55]:
i = 1
data = {
    'name': dataset[i, 0],
    'address' : dataset[i, 1],
    'city': dataset[i, 2],
    'zipcode' : dataset[i, 3],
    'location': {'lat':dataset[i, 4], 'lng':dataset[i, 5]}
}
data

{'address': '307 W 125th St, New York, NY 10027',
 'city': 'New York',
 'location': {'lat': 40.8107922, 'lng': -73.9515074},
 'name': 'House of Angels New York Inc',
 'zipcode': 10027}

In [59]:
type(dataset[i, 4])

float

In [57]:
client = MongoClient(port = 27017)
db = client.boutiques
for i in range(len(dataset)):
    data = {
        'name': dataset[i, 0],
        'address' : dataset[i, 1],
        'city': dataset[i, 2],
        'zipcode' : dataset[i, 3],
        'location': {'lat':dataset[i, 4], 'lng':dataset[i, 5]}
    }
    result = db.new_york.insert_one(data)